@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

body {
    background-color: black;
}

/* navbar du site */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}

/* partie gauche de la navbar */
.navg {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu {
    border-radius: 100px;
    height: 35px;
    width: 35px;
}

.youtube {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logoYoutube {
    height: 25px;
    width: 45px;
}

.youtube p {
    font-size: 20px;
}

/* partie au millieu de la navbar */

.barrerecherche {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 25px;
    margin: 25px;
}
.recherche {
    display: flex;
    gap: 0 300px;
    align-items: center;
    border: 2px solid grey;
    border-radius: 30px;
    height: 50px;
}

.recherche p {
    padding: 0 30px;
}

.recherche .loupe {
    padding: 0 15px;
    height: 30px;
    width: 30px;
}

.micro {
    height: 40px;
    width: 60px;
}

/* nav droite   */

.navd {
    display: flex;
    align-items: center;
    gap: 50px;
}

.creer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.creer p {
    font-size: 18px;
}
.boutoncreer {
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.notif {
    width: 25px;
    height: 25px;
}

.compte {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 187, 255);
    text-align: center;
    border-radius: 30px;
}

.compte p {
    font-size: 25px;
}

/* sidebar */

.mot {
    margin: 30px 35px;
}

.mot .vous {
    font-weight: bold;
    font-size: 500;
    margin-right: 15px;
}

.trait {
    width: 200px;
    height: 2px;
    background-color: gray;
    margin: 20px 0 10px 20px;
}

.imgsideg {
    height: 20px;
    width: 20px;
    border-radius: 7px;
}

.itemsideg {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 35px;
}

.itemsideg {
    font-size: 15px;
}

.abonnements {
    margin: 0 35px;
}
.titreabonnements {
    margin: 20px 0;
}
.itemabonnements {
    display: flex; 
    align-items: center;
    gap: 30px;
    margin: 10px 0;
}
.itemabonnements p {
    font-size: 13px;
}


/*----------------------- les vidéos ------------------------------ */

.mainyoutube {
    display: flex;
    margin: 20px auto;
}
.boxvideo {
    margin: 20px 0;
}
.containvideo {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1400px) {
    .containvideo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1100px) {
    .containvideo {
        grid-template-columns: repeat(1, 1fr);
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
} 
@media (max-width: 700px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .boxvideo .sizevideo {
        height: 175px;
        width: 300px;
        border-radius: 20px;
    }
    .description .titrevideo {
        font-size: 15px;
        max-width: 250px;
    }
    .infos {
        display: flex;
        flex-direction: column;

    }
    .infos .titrechaine, .infos .stats {
        font-size: 15px;
        max-width: 220px;
    }
    .barrerecherche {
        display: flex;
        align-items: center;
        gap: 20px;
        height: 25px;
        margin: 25px;
    }
    .barrerecherche .recherche {
        display: flex;
        gap: 100px;
        align-items: center;
        border: 2px solid grey;
        border-radius: 30px;
        height: 50px;
    }
    .mainyoutube {
        display: flex;
        flex-direction: column;
    }
} 


.sousvideo {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.titrevideo {
    max-width: 360px;
}
.infos {
    display: flex;
    gap: 15px;
    margin: 5px 0;
}
.chaine {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.sizevideo {
    height: 225px;
    width: 400px;
    border-radius: 20px;
}





